<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding Binary Numbers</title>
    <link rel="stylesheet" href="../styles/addingBin.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon-q.png">
</head>

<body>
  <a href="https://qquella.github.io/"><h2>qquella.github.io</h2></a>
    <div class="container">
        <h1>Adding Binary Numbers</h1>
        <div class="input-section">
            <label for="n1">First Binary Number:</label>
            <input type="text" id="n1" value="0"> 
            <span>&nbsp&nbsp</span>
            <label for="n2">Second Binary Number:</label>
            <!-- <input type="number" id="n2" value="0"> -->
            <input type="text" id="n2" value="0">

            <br><br><br><br>
            <button id="add">Add!</button>
        </div>
        <br>
        <div class="output-section">
            <label for="result">Result:</label>
            <span id="result">0</span>
        </div>
    </div>
    <script src="../scripts/addingBin.js"></script>
</body>
</html>
