<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binary Multiplication</title>
    <link rel="stylesheet" href="../styles/addingBin.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon-q.png">
</head>

<body>
  <a href="https://qquella.github.io/"><h2>qquella.github.io</h2></a>
    <div class="container">
        <h1>Binary Multiplication</h1>
        <div class="input-section">
          <div class="input-display">
            <label for="n1">First Binary Number:</label>
            <input type="text" id="n1" value="0"> 
            <span>&nbsp</span>
            <span id="n1D" class="result">0</span>
            <span>&nbsp</span>
            <label for="n2">Second Binary Number:</label>
            <input type="text" id="n2" value="0">
            <span>&nbsp</span>
            <span id="n2D" class="result">0</span>

            <br><br><br><br>
          </div> 
            <button id="add">Mutiply!</button>
        </div>
        <br>

        <span class="space"><br></span>
        <div class="output-section">
            <label for="resultB" class="result-label">Binary Result:</label>
            <span id="resultB" class="result">0</span>
            <span>&nbsp&nbsp</span>
            <label for="resultD" class="result-label">Decimal Result:</label>
            <span id="resultD" class="result">0</span>
        </div>
    </div>
    <script src="../scripts/binMuti.js"></script>
</body>
</html>
