<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.7.0/lib/p5.js"></script>
    <script src="../scripts/hilbertCurve.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hilbert Curve</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon-q.png">
    <style>
      body{
        margin: 8px;
        background-color: black;
      }

      a{
        margin: 5px;
      }
      h2{
        text-align: center;
        margin: 5px;
        margin-top: 2px;
        padding: 0;
        background-color: rgb(0, 0, 0);
        color: rgb(209, 208, 210);
        font-family: 'Source Code Pro', monospace;
        max-block-size: 100%;
        font-size: .95em;
      }
    </style>
  </head>
  <body>
    <a href="https://qquella.github.io/"><h2>qquella.github.io</h2></a>

    <main>
    </main>
  </body>
</html>