<!DOCTYPE html>
<html>
<head>
  <title>Kleines Glück Halloween</title>
  <link rel="stylesheet" href="../styles/halloween.css">
  <meta name="viewpoint" content="widh=device-width, intial-scale=1.0">
  <meta name="author" content="Quella Wang">
  <link rel="icon" type="image/x-icon" href="../img/hw1.png">
</head>

<body>
  <a class="banner" href="https://qquella.github.io/"><h2>qquella.com</h2></a>
  <div id="countdown">3</div>
  <div>
    <img class="aImg" id="hw1" src="../img/hw1.png" alt="Halloween">
    <img class="aImg" src="../img/hw02.jpeg" alt="Halloween" style="max-width: 90%; width:95%;">
  </div>

  <div id="graffiti">It's SPOOKY TIME 🎃</div>

  <br>  <br>  <br>  <br>  <br>

  <div>
    <img class="aImg" src="../img/hw03.jpeg" alt="Halloween pic">
  </div>
  <div id="fireworks"></div>
  



  <!--script-->
  <script src="../sB01.js"></script>
</body>
</html>
