<!DOCTYPE html>
<html>
<head>
  <title>Kleines Glück Father's Day</title>
  <link rel="stylesheet" href="../styles/sB01.css">
  <meta name="viewpoint" content="widh=device-width, intial-scale=1.0">
  <meta name="author" content="Quella Wang">
  <link rel="icon" type="image/x-icon" href="../img/fathersD02.jpeg">
</head>

<body>
  <a class="banner" href="https://qquella.github.io/"><h2>qquella.com</h2></a>
  <div id="countdown">3</div>
  <div>
    <img class="aImg" src="../img/fathersD.jpeg" alt="father's day">
  </div>
  <div id="graffiti">Happy Father's Day</div>
  <div id="fireworks"></div>
  



  <!--script-->
  <script src="../sB01.js"></script>
</body>
</html>
