<!DOCTYPE html>
<html>
<head>
  <title>Kleines Glück Gratitude</title>
  <link rel="stylesheet" href="../styles/tu.css">
  <meta name="viewpoint" content="widh=device-width, intial-scale=1.0">
  <meta name="author" content="Quella Wang">
  <link rel="icon" type="image/x-icon" href="../img/tu.png">
</head>

<body>
  <a class="banner" href="https://qquella.github.io/"><h2>qquella.com</h2></a>
  <div id="countdown">3</div>
  <div>
    <img class="aImg" id="tu1" src="../img/tu1.gif" alt="Thank you">
  </div>

  <div id="graffiti">💙🤍 ευχαριστώ πολύ! 💙🤍</div>

  <br>  <br>  <br>  <br>  <br>

  <div>
    <img class="aImg" src="../img/tu2.png" alt="Halloween pic">
  </div>
  <div id="fireworks"></div>
  



  <!--script-->
  <script src="../sB01.js"></script>
</body>
</html>
