<!DOCTYPE html>
<html>
<head>
	<title>About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/countryMap.css">
  <link rel="icon" type="image/x-icon" href="../images/favicon-q.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
</head>

<!-- Real Header lol -->
<body>
	<a class="webLink" href="https://qquella.com/"><h2>qquella.com</h2></a>
  
  <div class="contact-button">
    <span class="contact">Contact</span>
    <div class="contact-dropdown">
        <a href="mailto: mikuquella@gmail.com">Email</a>
        <a href="#feedback_Area">Feedback</a>
    </div>
</div>

<!-- Interactive Country Map -->

<div id="continent-buttons">
  <button data-continent="Europe">Europe</button>
  <button data-continent="North America">North America</button>
  <button data-continent="South America">South America</button>
  <button data-continent="Asia">Asia</button>
  <button data-continent="Africa">Africa</button>
  <button data-continent="Australia">Australia</button>
</div>

<ul id="country-list">
  <!-- Country list will be populated dynamically -->
</ul>

<div id="countriesMap_div"></div>



<footer>
  <div class="footer-links">
      <a class="footer-link" href="https://www.instagram.com/quinnuella_" target="_blank">Instagram</a>
      <div style="border-right: 1px solid #fff; height: 20px; margin: 0 25px;"></div>
      <a class="footer-link" href="mailto: mikuquella@gmail.com">Email</a> 
    </div>
      <div class="copyright">Power by: Quella W</div>
 
</footer>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="../scripts/map-worldCountries.js"></script>

</body>

</html>


<div class="countryMap" id="countriesMap_div"></div>
    <ul id="country-list">
        <li data-country="Germany">Germany</li>
        <li data-country="US">United States</li>
        <li data-country="BR">Brazil</li>
        <li data-country="CA">Canada</li>
        <li data-country="FR">France</li>
        <li data-country="RU">Russia</li>

    </ul>