<!DOCTYPE html>
<html>
<head>
    <title>Zurich Attriactions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/zurich-attraction.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon-q.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container-head">
    <img class="head-bg" src="../img/IMG_4648.jpeg" alt="zurich lake">

    <div class="top-left">
      <a class="webLink" href="https://qquella.com/"><h2>qquella.com</h2></a>
    </div>

    <div class="top-right">
      <div class="contact-button">
        <span class="contact">Contact</span>
        <div class="contact-dropdown">
            <a href="mailto: mikuquella@gmail.com">Email</a>
            <a href="https://www.instagram.com/quinnuella_">Instagram</a>
        </div>
      </div>
    </div>

    <div class="centered">
      <h1>Top Places to Visite in Zürich🇨🇭</h1>
      <p>Sightseeing in Zurich: Here are the 10 must-sees!</p>
    </div>
</div>


 <!-- share button -->
 <div class="share-print">
  <button class="fa fa-share-alt" id="shareButton"><span>Share</span></button>
    <div id="shareOptions">
      <a href="#" data-option="whatsapp">WhatsApp</a>
      <a href="#" data-option="twitter">Twitter</a>
      <a href="#" data-option="instagram">Instagram</a>
      <a href="#" data-option="mail">Email</a>
      <a href="#" data-option="snapchat">Snapchat</a>
      <a href="#" data-option="pinterest">Pinterest</a>
      <a href="#" data-option="clipboard">Copy to Clipboard</a>
    </div>
    <!-- print button -->
  <button class="fa fa-print" id="printButton"><span>Print</span></button>
</div>

<section class="container">
  <p class="container-p">
    Obviously, there are far more than 10 tourist attractions in Zurich, but this list points out the absolute highlights, nobody should miss. Visit the places in Zurich that tell the exciting history of the city, see the beautiful parks and green spaces in the middle of the Old Town and enjoy the breathtaking views from the numerous overlooks, and you will experience Zurich’s true character and beauty.
  </p>

  <div class="container-items">
    <!-- item start here -->
    <div class="container-item">
      <div class="container-media">
        <img class="container-img" src="../img/Grossmunster.jpeg" alt="Grossmünster">
      </div>

      <div class="container-text">
        <span class="big_num">1</span>
        <h2 class="big_word popup-trigger" data-popup="grossmuenster-popup">Grossmünster</h2>
       
        <p class="container-text-p">
          The Grossmünster in Zurich is an iconic Romanesque church that graces the city's skyline with its imposing twin towers and copper-crowned spires. With a history intertwined with Zurich's origins, this architectural masterpiece symbolizes the city's spiritual and cultural heritage. Inside, its serene interior is illuminated by gentle light filtering through stained glass windows, creating an atmosphere of contemplation. Ascending the towers rewards visitors with stunning panoramic views of Zurich, the Limmat River, and the Swiss Alps. The Grossmünster is a harmonious blend of history, spirituality, and architectural grandeur, making it a must-visit landmark in this vibrant Swiss city. (Be sure to get up to the top!!)
        </p>

        <a class="container-btn" href="https://www.grossmuenster.ch/4.php?read_category=3475&lang=en" target=”_blank”><span>More&nbsp;&#8594;</span></a>
      </div>
      <!-- end text div -->

      <!-- Pop-up Window Gsmunster-->
      <div id="grossmuenster-popup" class="popup">
        <div class="popup-content">
          <span class="close" data-popup="grossmuenster-popup">&times;</span>
          <h2>Grossmünster</h2>
          <p>
The Grossmünster, an iconic symbol of Zurich's rich history and architectural heritage, stands proudly along the picturesque banks of the Limmat River. This majestic twin-towered church is a masterpiece of Romanesque architecture and an enduring testament to the city's deep-rooted spirituality.
<br><br>
Rising majestically against the backdrop of the Swiss Alps, the Grossmünster's imposing silhouette dominates the cityscape, drawing visitors and locals alike into its timeless embrace. Its twin towers, each topped with a green copper roof, create an image of exquisite symmetry that captivates the eye.
<br><br>
Stepping inside the Grossmünster, one is greeted by a serene atmosphere and an ambiance of reverence. The interior is adorned with elegant simplicity, emphasizing the beauty of clean lines and muted colors. As sunlight streams through the stained glass windows, it bathes the nave in a soft, ethereal glow, inspiring a sense of tranquility and reflection.
<br><br>
While the Grossmünster is a masterpiece of architecture, it is also deeply intertwined with Zurich's history and cultural identity. Legend has it that it was from this very site that Zurich's patron saints, Felix and Regula, were beheaded, leading to the establishment of the city's Christian foundations.
<br><br>
Climbing the Grossmünster's towers is a must for visitors, as it rewards them with breathtaking panoramic views of Zurich, the picturesque Old Town, the serene Limmat River, and the distant Alps. The vista offers a unique perspective on this vibrant metropolis, blending its ancient roots with modern vitality.
<br><br>
The Grossmünster, both a spiritual sanctuary and an architectural wonder, invites all who pass through its doors to immerse themselves in the rich tapestry of Zurich's history, culture, and breathtaking natural beauty. It stands as a symbol of enduring faith, a beacon of enlightenment, and a must-visit destination for anyone exploring this enchanting Swiss city.
          </p>
          <img src="../img/Grossmunster2.jpeg" alt="Grossmunster">
        </div>
      </div>

    </div>
    <!-- end single item div -->

 <!-- item start here -->
 <div id="lake-zurich" class="container-item">
  <div class="container-media">
    <img class="container-img" src="../img//IMG_5277.jpeg" style="width: 3000px;" alt="Lake Zurich">
  </div>

  <div class="container-text">
    <span class="big_num">2</span>
    <h2 class="big_word popup-trigger" data-popup="lake-popup">Lake Zürich</h2>
   
    <p class="container-text-p">
      Lake Zürich is a sparkling gem in the heart of Zürich, captivating with its serene beauty and enchanting surroundings. It was once above all a transport route. Today, it is a popular excursion point for swimming, boating, or picnicking on the lake's banks, offering a peaceful escape for both locals and visitors. Together with Lake Geneva, Lake Neuchâtel, Lake Constance, and Lake Lucerne, they are Switzerland’s “Big Five” in terms of lakes. 
    </p>

    <a class="container-btn" href="https://www.zsg.ch/en/" target=”_blank”><span>More&nbsp;&#8594;</span></a>
  </div>
  <!-- end text div -->

  <!-- Pop-up Window lake -->
  <div id="lake-popup" class="popup">
    <div class="popup-content">
      <span class="close" data-popup="lake-popup">&times;</span>
      <h2>Lake Zürich</h2>
      <p>
        Lake Zurich, or "Zürichsee" in German, is a breathtaking natural wonder that graces the heart of Zurich, Switzerland's largest city. This glimmering freshwater lake, shaped like a slender crescent, is a quintessential part of Zurich's identity and a testament to the city's harmonious coexistence with nature.
        <br><br>
        The best way to discover the Lake Zurich area is by boat trip. Most places around the shore are served by a regular boat service all year round. The undisputed favorites among the public are the two historic paddle steamers. From the “Gipfeli-Schiff” (early mornings) to the “Sonnenuntergangs-Schiff” (sunset sailings), there are all kinds of special excursions available. Musical trips and special tours on public holidays are all part of the program offered by the Lake Zurich shipping company.
        <br><br>
        The famous “golden coast” extends along the northern side of the lake, from Zollikon to Feldmeilen. This sun-soaked region is renowned for its low taxation rates and high property prices. It is, therefore, the stretch of coast where you can see the magnificent houses and villas of the upper echelons of society.
        <br><br>
        At the eastern end of the lake is the “rose town” of Rapperswil. In the public gardens here, you’ll find over 15,000 rose bushes blooming more than 600 different varieties. The lakeside promenade with its Mediterranean charms, the picturesque Old Town, and the medieval castle make this harbor town a popular place for excursions. For young visitors, Knie’s Children’s Zoo is high on their wish list.
        <br><br>
        Popular places to visit around Lake Zurich include the numerous swimming areas, the Alpamare in Pfäffikon – the largest covered water park in Europe – the sunny islands of Ufenau and Lützelau near Rapperswil, the wooden footbridge across the lake between Rapperswil and Hurden, the Baroque church in Lachen, the famous Lindt & Sprüngli chocolate factory in Kilchberg and, of course, the dynamic metropolis of Zurich, with all its many sights, the famous shopping mile of the Bahnhofstrasse and its vast range of cultural amenities.
      </p>
      <video controls autoplay style="max-width: 60%; width: 800px; margin: 1% 20%; text-align: center;">
        <source src="../img/IMG_4759.MOV" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <img style="width: 49.5%; display: inline;" src="../img/IMG_4760.jpeg" alt="Lake Zurich">
      <img style="width: 49.5%; display: inline;" src="../img/IMG_4758.jpeg" alt="Lake Zurich">
    </div>
  </div>

</div>
<!-- end single item div -->
<!-- item start here Bahnhofstrasse -->
<div class="container-item">
  <div class="container-media">
    <img class="container-img" src="../img/IMG_4659.png" alt="Bahnhofstrasse">
  </div>

  <div class="container-text">
    <span class="big_num">3</span>
    <h2 class="big_word popup-trigger" data-popup="Bahnhofstrasse-popup">Bahnhofstrasse</h2>
    
    <p class="container-text-p">
      Bahnhofstrasse, a world-renowned shopping boulevard in Zurich, weaves a tale of elegance and luxury. Lined with boutiques, department stores, and Swiss watch shops, it lures visitors into a retail paradise. This bustling avenue is a vibrant blend of modernity and tradition, where designer labels and fine Swiss craftsmanship coexist. You find numerous boutiques, department stores and timepiece stores here, as well as at Paradeplatz – the Swiss banking center. Bahnhofstrasse is just as popular with locals and visitors, and it is always worth a visit. You can stroll relaxed along the lake in the summer as well as enjoy mulled wine or hot chocolate at every corner in the winter.
      <br>
      Rennweg and Augustinergasse lead off from Bahnhofstrasse into the picturesque old town.        
    </p>

    <a class="container-btn" href="https://www.google.com/maps/dir/?api=1&destination=,%20Bahnhofstrasse,%208001%20Z%C3%BCrich&travelmode=transit" target=”_blank”><span>More&nbsp;&#8594;</span></a>
  </div>
  <!-- end text div -->

  <!-- Pop-up Window Bahnhofstrasse-->
  <div id="Bahnhofstrasse-popup" class="popup">
    <div class="popup-content">
      <span class="close" data-popup="grossmuenster-popup">&times;</span>
      <h2>Bahnhofstrasse</h2>
      <p>
        Bahnhofstrasse is often ranked among the world's most renowned & exclusive shopping avenues created after the construction of Zurich’s Main Railway Station. At the spot where city moats were 150 years ago, today, it connects Lake Zurich with the Main Railway Station on a length of 1.4 kilometers (0.87 miles), stretching from the Zurich Hauptbahnhof (main train station) to Lake Zurich. It's a testament to the city's elegance, luxury, and cosmopolitan charm. 
        <br><br>
        The tree-lined boulevard features a captivating blend of high-end boutiques, luxury brands, upscale department stores, and exquisite Swiss watch shops. Shoppers from around the globe come here for fashion, jewelry, watches, and artisan chocolates. The ambiance is chic and inviting, with cafes and restaurants providing a perfect respite for weary shoppers.
        <br><br>
        Bahnhofstrasse is not just a shopping mecca; it's also a scenic promenade. Strolling along its well-kept sidewalks, you'll be charmed by the beautifully maintained flower beds, stately facades, and the architectural splendor of the historic buildings that line the street.
        <br><br>
        The street is also home to cultural landmarks like the Paradeplatz, a prominent square, and the Credit Suisse and UBS bank headquarters. Just off the main street, you'll find hidden gems such as the Grossmünster, one of Zurich's iconic churches, and the Lindenhof, a historic hill offering panoramic city views.
        <br><br>
        Bahnhofstrasse embodies Zurich's status as a global financial and fashion capital, making it a must-visit destination for those seeking the epitome of sophistication and style in the heart of this vibrant Swiss city.          
      </p>
      <img style="width: 49.5%; display: inline;" src="../img/IMG_4596.jpeg" alt="Bahnhofstrasse">
      <img style="width: 49.5%; display: inline;" src="../img/IMG_5352.jpeg" alt="Bahnhofstrasse">
      <img src="../img/IMG_4673.jpeg"  style="width:60%; margin: 1% 20%;" alt="Bahnhofstrasse">
    </div>
  </div>

</div>
<!-- end single item div Bahnhofstrasse-->

<!-- item start here Sechseläutenplatz -->
<div class="container-item">
  <div class="container-media">
    <img class="container-img" src="../img/oph.jpeg" alt="Sechseläutenplatz">
  </div>

  <div class="container-text">
    <span class="big_num">4</span>
    <h2 class="big_word popup-trigger" data-popup="Sechseläutenplatz-popup">Sechseläutenplatz & Opernhaus</h2>
   
    <p class="container-text-p">
      Sechseläutenplatz, nestled at the heart of Zurich, is a vibrant city square pulsating with life, offering relaxation between Bellevue and Zurich's Opera House. This historic locale plays host to a myriad of events, from the iconic Sechseläuten spring festival to cultural gatherings and fairs. It's a picturesque fusion of greenery and architecture framed by the stunning Zurich Opera House. The opera house is a masterpiece of neoclassical design, its pristine white facade and grand columns standing as a testament to artistic excellence and architectural beauty. Together, Sechseläutenplatz and the Zurich Opera House create a captivating juxtaposition of tradition and culture, offering a dynamic stage where Zurich's past and present converge.        
    </p>

    <a class="container-btn" href="https://www.opernhaus.ch/en/" target=”_blank”><span>More&nbsp;&#8594;</span></a>
  </div>
  <!-- end text div -->

  <!-- Pop-up Window Sechseläutenplatz-->
  <div id="Sechseläutenplatz-popup" class="popup">
    <div class="popup-content">
      <span class="close" data-popup="Sechseläutenplatz-popup">&times;</span>
      <h2>Sechseläutenplatz & Zürich Opera House</h2>
      <p>
The "Sechseläuten" (Spring Festival) takes place at Zurich's most popular fairground directly adjacent to Lake Zurich every spring. Then the "Böögg" – an artificial snowman effigy, which is placed on a stake – is burned to say goodbye to winter and welcome the summer. The annual performances of the National Circus Knie and a Christmas market also occur here.
<br><br>
The opera and the "Bellevue," an important tram stop in Zurich, are also here. This is one of the largest city squares in Switzerland – created with 16,000 m² of elegant quartzite. Trees, places to sit, and water elements make it a lovely and cozy spot.
<br><br>
With numerous and aesthetically diverse opera productions and ballet choreographies, concerts, and song recitals, as well as a broadly based program to promote young talent, Zurich Opera House is one of the most productive and successful establishments of its kind in Europe.
<br><br>
The Opera House is one of Zurich's best-known landmarks and offers fans access to the genre of opera from the beginnings of opera history to the music of the 21st century. In addition, it delights a huge and diverse audience every year with spectacular open-air performances, such as “Opera for All” or “Ballet for All.”
<br><br>
In 2014, the cultural establishment directly by Lake Zurich was named “Opera Company of the Year” at the International Opera Awards, while in 2019, within the framework of the “Oper! Awards: it won the award for the “Best Opera House” in the international opera industry.
<br><br>
In addition to engaging top international singers, sought-after directors, and renowned choreographers, great importance is attached to training aspiring artists in classical singing, ballet, and orchestra.       
      </p>
      <img style="width: 49.5%; display: inline;" src="../img/oph3.jpeg" alt="Sechseläutenplatz">
      <img style="width: 49.5%; display: inline;" src="../img/oph4.jpeg" alt="Sechseläutenplatz">
      <img src="../img/oph2.jpeg"  style="width:80%; margin: 1% 10%;" alt="Sechseläutenplatz">
    </div>
  </div>

</div>
<!-- end single item div Sechseläutenplatz-->

<!-- item start here Lindenhof -->
<div class="container-item" id="Lindenhof">
  <div class="container-media">
    <img class="container-img" src="../img/lh.jpeg" style="width: 6000px;" alt="Lindenhof">
  </div>

  <div class="container-text">
    <span class="big_num">5</span>
    <h2 class="big_word popup-trigger" data-popup="Lindenhof-popup">Lindenhof</h2>
   
    <p class="container-text-p">
      Perched atop the heart of Zurich, Lindenhof is a captivating urban oasis, a tranquil escape from the city's hustle and bustle. With a rich history dating back to Roman times, this lush hillside park offers sweeping views of the city, the pristine Limmat River, and the majestic Swiss Alps in the distance. Its iconic Linden trees provide shade and a serene ambiance, making it a favorite spot for leisurely strolls and picnics. Historically, Lindenhof has been a place of contemplation, strategy, and unity, making it a quintessential destination to soak in the beauty of Zurich while connecting with its storied past. (Make it to the beautiful daybreak if you want the absolute BEST view of the city right in the middle of the city center!)
    </p>

    <a class="container-btn" href="https://www.google.com/maps/dir/?api=1&destination=,%20Lindenhof,%208001%20Z%C3%BCrich&travelmode=transit" target=”_blank”><span>More&nbsp;&#8594;</span></a>
  </div>
  <!-- end text div -->

  <!-- Pop-up Window Lindenhof-->
  <div id="Lindenhof-popup" class="popup">
    <div class="popup-content">
      <span class="close" data-popup="Lindenhof-popup">&times;</span>
      <h2>Lindenhof</h2>
      <p>
        Lindenhof is an oasis at the city's heart, reflecting a moving history. This spot provides a glorious view of the Old Town, Grossmünster Church, City Hall, the Limmat River, the university, and the Swiss Federal Institute of Technology.
        <br><br>
        Lindenhof was also the scene of numerous historical events. In the 4th century, a Roman fort stood on Lindenhof – and in the 9th century, the grandson of Charlemagne built a regal palace as a residence on the very same site.
        <br><br>
        This area continued to be a place for gatherings for Zurich’s inhabitants until the beginning of the modern era. For example, the oath sealing the Helvetic Constitution was taken on the Lindenhof in 1798.
        <br><br>
        Today, Lindenhof is a haven of peace and tranquility in the heart of the city and a meeting point for passionate chess players. In April, during the local holiday of Sechseläuten, the Lindenhof serves as the base of operations for whichever is the "guest canton" for that year.               
      </p>
      <img style="width: 49.5%; display: inline;" src="../img/lh1.jpeg" alt="Lindenhof">
      <img style="width: 49.5%; display: inline;" src="../img/lh2.jpeg" alt="Lindenhof">
      <img style="width: 49.5%; display: inline;" src="../img/lh3.jpeg" alt="Lindenhof">
      <img style="width: 49.5%; display: inline;" src="../img/lh4.jpeg" alt="Lindenhof">
    </div>
  </div>

</div>
<!-- end single item div Lindenhof-->
<!-- item start here Kunsthaus -->
<div id="museum" class="container-item">
  <div class="container-media">
    <img class="container-img" src="../img/kh4.jpeg" style="width: 6000px;" alt="Kunsthaus">
  </div>

  <div class="container-text">
    <span class="big_num">6</span>
    <h2 class="big_word popup-trigger" data-popup="Kunsthaus-popup">Kunsthaus Zürich</h2>
   
    <p class="container-text-p">
      Kunsthaus Zürich, Zurich's cultural jewel, is a haven for art enthusiasts and a testament to the city's rich creative heritage. This renowned art museum boasts a captivating collection spanning centuries, from masterpieces by Swiss and international artists to contemporary works that push artistic boundaries. Housed within an elegant and modern architectural space, Kunsthaus Zürich provides a stunning backdrop for its diverse art exhibitions. As you wander through its galleries, you'll encounter the genius of Van Gogh, Monet, and Giacometti, among others. The museum's vibrant atmosphere and ever-evolving exhibits make it an essential destination for those seeking inspiration and an immersive artistic experience in Zurich.
    </p>

    <a class="container-btn" href="https://www.kunsthaus.ch/en/" target=”_blank”><span>More&nbsp;&#8594;</span></a>
  </div>
  <!-- end text div -->

  <!-- Pop-up Window Kunsthaus-->
  <div id="Kunsthaus-popup" class="popup">
    <div class="popup-content">
      <span class="close" data-popup="Kunsthaus-popup">&times;</span>
      <h2>Kunsthaus Zürich</h2>
      <p>
Switzerland's largest art museum is inspired by its light-flooded extension by David Chipperfield, as well as one of the most important collections of art in the country. 
<br><br>
At the Kunsthaus Zürich, art enthusiasts and novices alike can immerse themselves in the world of the Old Masters, discover Swiss artists such as Giacometti and Fischli/Weiss, or admire Impressionist or contemporary art. Installations such as the immersive “Turicum Pixelwald” by Pipilotti Rist, video installations, temporary exhibitions, workshops, and guided tours visit here an unforgettable experience.
<br><br>
In two buildings, the Moser building and the extension designed by David Chipperfield (opened in 2021), the Kunsthaus presents the most extensive collection of Munch paintings outside Norway, famous names such as Picasso, van Gogh, and Chagall, and leading representatives of the Expressionist movement. In addition, it features key works from the 20th and 21st centuries, for example, by Warhol, Rothko, and Beuys.
<br><br>
With its light-flooded, cuboid design, the Chipperfield building is also a highlight for architecture fans. Visitors are welcomed by a spacious central entrance hall, which is connected to the Moser building via an underground passage. With a design store, a bar, a banqueting hall, and the “Garden of Art,” the new building creates an organic connection to the surrounding neighborhood.           
      </p>
      <img style="width: 49.5%; display: inline;" src="../img/kh2.jpeg" alt="Kunsthaus">
      <img style="width: 49.5%; display: inline;" src="../img/kh5.jpeg" alt="Kunsthaus">
      <img src="../img/kh.jpeg" alt="Kunsthaus">
    </div>
  </div>

</div>
<!-- end single item div Lindenhof-->
<!-- item start here Bürkliplatz -->
<div class="container-item">
  <div class="container-media">
    <img class="container-img" src="../img/bp.jpeg" style="width: 6000px;" alt="Bürkliplatz">
  </div>

  <div class="container-text">
    <span class="big_num">7</span>
    <h2 class="big_word popup-trigger" data-popup="Bürkliplatz-popup">Bürkliplatz</h2>
   
    <p class="container-text-p">
      Bürkliplatz, nestled on the pristine shores of Lake Zurich, is not only a boat dock but also a marketplace, art area, and event site with a view across Lake Zurich to the Alps. It is a captivating urban oasis that epitomizes the city's charm. Its expansive lakeside promenade, adorned with lush greenery and vibrant flowers, offers a serene escape from the bustling city life. This enchanting square is a hub of cultural activity, hosting art exhibitions, lively street markets, and open-air concerts that enrich the senses. With the Swiss Alps as a breathtaking backdrop, Bürkliplatz invites visitors to relax on its benches, watch the swans gracefully glide on the lake, and soak in the beauty of Zurich's waterfront. It's a tranquil, picturesque haven in the heart of the city. (Check out the open flea/Christmas market every weekend near the yellow gazebo at the music pavilion on the large market square Bürkliplatz!! Bring your cash!)
    </p>

    <a class="container-btn" href="https://www.google.com/maps/dir/?api=1&destination=B%C3%BCrkliplatz,%20,%208001%20Z%C3%BCrich&travelmode=transit" target=”_blank”><span>More&nbsp;&#8594;</span></a>
  </div>
  <!-- end text div -->

  <!-- Pop-up Window Kunsthaus-->
  <div id="Kunsthaus-popup" class="popup">
    <div class="popup-content">
      <span class="close" data-popup="Bürkliplatz-popup">&times;</span>
      <h2>Bürkliplatz</h2>
      <p>
        Bürkliplatz was created after the bulwarks of the former town fortification were torn down. The city engineer Arnold Bürkli was responsible for constructing the lakeside park area from 1882 until 1887. Earth was filled in along the lake banks, and a continuous lakeside promenade was created with the Quaibrücke (lakeside bridge) with boulevards, meadows, and parks.
        <br><br>
        Today, Bürkliplatz is a dock and the starting spot for tours on Lake Zurich. The site is also the venue for a great variety of events. The vegetable market "Bürklimäärt" takes place here twice weekly, and there is a flea market every Saturday in the summer. The square is also the starting point and finish line of many athletic events.
      </p>
      <img style="width: 49.5%; display: inline;" src="../img/bp2.jpeg" alt="Bürkliplatz">
      <img style="width: 49.5%; display: inline;" src="../img/bp3.jpeg" alt="Bürkliplatz">
      <img src="../img/bp4.jpeg" alt="Bürkliplatz">
    </div>
  </div>

</div>
<!-- end single item div Bürkliplatz-->
<!-- item start here Landesmuseum -->
<div class="container-item">
  <div class="container-media">
    <img class="container-img" src="../img/ldm2.jpeg" style="width: 6000px;" alt="Landesmuseum">
  </div>

  <div class="container-text">
    <span class="big_num">8</span>
    <h2 class="big_word popup-trigger" data-popup="Landesmuseum-popup">Landesmuseum (Swiss National Museum)</h2>
   
    <p class="container-text-p">
      The Swiss National Museum, or Landesmuseum, is located in Zurich behind the Main Station and houses the most extensive collection documenting the captivating journey through Switzerland's rich history and culture. Housed in a grand neoclassical building, it beckons visitors with its stately presence and the promise of exploration. Inside, a treasure trove of artifacts, art, and exhibits narrate the tale of Switzerland's evolution. From ancient artifacts to contemporary art, the museum offers a diverse perspective on the nation's heritage. With interactive displays and immersive storytelling, it brings history to life. The Swiss National Museum is a cultural gem where the past meets the present, making it an enriching and enlightening experience for all.
    </p>

    <a class="container-btn" href="https://www.landesmuseum.ch/en" target=”_blank”><span>More&nbsp;&#8594;</span></a>
  </div>
  <!-- end text div -->

  <!-- Pop-up Window Kunsthaus-->
  <div id="Landesmuseum-popup" class="popup">
    <div class="popup-content">
      <span class="close" data-popup="Landesmuseum-popup">&times;</span>
      <h2>Landesmuseum</h2>
      <p>
        The National Museum Zurich, next to Zurich Main Station, is reminiscent of a fairytale castle. However, anyone passing through the arches into the inner courtyard will also find a modern new building, which counterbalances the original building constructed in the historicism style.
        <br><br>
        On show in the rooms and halls of the National Museum is the most extensive collection documenting the cultural history of Switzerland: handicrafts, everyday objects, sculptures, and paintings from prehistory to the present day tell a host of exciting stories. In addition, the National Museum examines socially relevant topics in various special exhibitions. Audio guides are available in multiple languages, either on a rental device or via the “National Museum” smartphone app.
        <br><br>
        The permanent exhibition, “Simply Zurich,” on the first floor of the historical part of the museum, is free of charge. It shows the diversity of the City and Canton of Zurich playfully and subjectively. At the heart of the exhibition is a display case containing 60 objects, all of which tell a story about Zurich’s rich past. The exhibition is suitable for international guests and locals alike.
        The picturesque inner courtyard of the National Museum is often used for concerts and other events. This creates a fascinating contrast between history, current times, old, and young.
        <br><br>
        The excellent museum store sells high-quality souvenirs and products made and designed by Swiss artisans.
      </p>
      <img src="../img/ldm.jpeg" alt="Landesmuseum">
      <img style="width: 49.5%; display: inline;" src="../img/ldm1.jpeg" alt="Landesmuseum">
      <img style="width: 49.5%; display: inline;" src="../img/ldm5.jpeg" alt="Landesmuseum">
      <img src="../img/ldm3.jpeg" alt="Landesmuseum">
    </div>
  </div>

</div>
<!-- end single item div Ldm-->
<!-- item start here Fraumünster -->
<div class="container-item">
  <div class="container-media">
    <img class="container-img" src="../img/fm4.jpeg" style="width: 6000px;" alt="Fraumünster">
  </div>

  <div class="container-text">
    <span class="big_num">9</span>
    <h2 class="big_word popup-trigger" data-popup="Fraumünster-popup">Fraumünster</h2>
   
    <p class="container-text-p">
      The Fraumünster, nestled in the heart of Zurich, is a harmonious fusion of art, history, and spirituality. This graceful church, once held great power in Zurich, with its slender blue spire, exudes an air of elegance that captivates the observer. Yet, what truly distinguishes the Fraumünster is its rich artistic legacy. The ethereal stained glass windows, created by the renowned artist Marc Chagall, adorn the interior with a symphony of vibrant colors and symbolic depictions. Each pane tells a unique narrative, casting a mesmerizing kaleidoscope of light and stories. The Fraumünster's artistic treasures, together with its serene ambiance, offer a captivating journey into Zurich's cultural and spiritual soul. (Go downstairs also to visit the museum! There is originally where Zwingli first preached and brought the Reformation to Switzerland)
    </p>

    <a class="container-btn" href="https://fraumuenster.ch/4.php?read_category=3684&lang=en" target=”_blank”><span>More&nbsp;&#8594;</span></a>
  </div>
  <!-- end text div -->

  <!-- Pop-up Window Fraumünster-->
  <div id="Fraumünster-popup" class="popup">
    <div class="popup-content">
      <span class="close" data-popup="Fraumünster-popup">&times;</span>
      <h2>Fraumünster</h2>
      <p>
        Founded in 853 by King Louis the German, this church with its convent was inhabited by the female members of the aristocracy of Europe. The convent enjoyed the patronage of kings and the abbess the right to mint coins in Zurich until well into the 13th century. Ownership of the church and convent passed to the city of Zurich after the Reformation.
        <br><br>
        Significant architectural features include the Romanesque chancel and the high vaulted transept. The nave was last renovated in 1911.
        <br><br>
        Its most stunning treasures are the stained glass windows: those in the north transept are by Augusto Giacometti, and the five-part cycle in the chancel and rosette in the southern transept are the works of Marc Chagall. The abbey also reveals a series of frescos by Paul Bodmer.        
        <br><br>
        What truly sets the Fraumünster apart is its remarkable stained glass windows, touched by the genius of one of the 20th century's most celebrated artists, Marc Chagall. These windows are an artistic marvel, a breathtaking display of color and symbolism. They infuse the interior with a mesmerizing kaleidoscope of light and narrative, transforming the church into a sanctuary of visual poetry.
        <br><br>
        The Chagall windows, created between 1971 and 1978, comprise five stunning panels, each dedicated to a biblical figure: Jacob, Joseph, Moses, Joshua, and the heavenly Jerusalem. Chagall's vibrant use of color and deep emotional resonance with the stories depicted on the windows evoke a sense of wonder and spiritual connection.
        <br><br>
        Stepping inside the Fraumünster, visitors are enveloped by serenity and reflection. The church's interior, with its clean lines and timeless simplicity, is a perfect backdrop to Chagall's radiant artistry. As daylight filters through these stained glass masterpieces, it bathes the nave in a celestial glow, creating a sense of transcendence.
        <br><br>
        The Fraumünster's history is as compelling as its art. Originally founded as a convent in the 9th century, the church has witnessed centuries of change and transformation. The original Romanesque structure was replaced by a Gothic-style building in the 13th century, which later underwent renovations in the 18th century. The result is a harmonious blend of architectural styles that speaks to the evolving character of Zurich.
        <br><br>
        To truly appreciate the Fraumünster, one must ascend its tower, which offers a unique vantage point over Zurich's Old Town, the Limmat River, and the distant Swiss Alps. The view is a stunning panorama of history and nature, where the past and present merge seamlessly.
        <br><br>
        The Fraumünster stands not only as a place of worship but also as a testament to the enduring power of art to elevate the spirit. It is a living canvas, a treasure trove of culture, and a place where the sacred and the creative converge. For those who visit, the Fraumünster is a journey into Zurich's cultural and spiritual soul, an experience that leaves an indelible mark on the heart and mind.        
      </p>
      <img style="width: 49.5%; display: inline;" src="../img/fm5.jpeg" alt="Fraumünster">
      <img style="width: 49.5%; display: inline;" src="../img/fm2.jpeg" alt="Fraumünster">
      <img style="width: 49.5%; display: inline;" src="../img/fm3.jpeg" alt="Fraumünster">
      <img style="width: 49.5%; display: inline;" src="../img/fm4.jpeg" alt="Fraumünster">
    </div>
    </div>
  </div>

</div>
<!-- end single item div Fraumünster-->
<!-- item start here Lindt -->
<div class="container-item">
  <div class="container-media">
    <img class="container-img" src="../img/ld3.jpeg" style="width: 6000px;" alt="Lindt">
  </div>

  <div class="container-text">
    <span class="big_num">10</span>
    <h2 class="big_word popup-trigger" data-popup="Lindt-popup">Lindt Home of Chocolate</h2>
   
    <p class="container-text-p">
      Lindt Home of Chocolate, nestled just outside Zurich, is an irresistible journey into the heart of Swiss chocolate craftsmanship. A dream for all chocolate fans: near Lake Zurich, Lindt invites visitors to a multimedia experience world.
      This enchanting destination seamlessly marries tradition and innovation, celebrating Lindt's legacy while immersing visitors in a world of cocoa wonders. The iconic Lindt Chocolate Factory showcases the art of chocolate-making, offering glimpses of the mesmerizing process. The Lindt Chocolate Museum unveils the brand's rich history and innovations, engaging guests of all ages. A highlight is the awe-inspiring chocolate fountain, the world's tallest, cascading velvety chocolate. A visit to the Lindt Home of Chocolate is a delectable exploration of Switzerland's sweetest traditions and a delight for chocolate enthusiasts.
    </p>

    <a class="container-btn" href="https://www.lindt-home-of-chocolate.com/en/" target=”_blank”><span>More&nbsp;&#8594;</span></a>
  </div>
  <!-- end text div -->

  <!-- Pop-up Window Lindt-->
  <div id="Lindt-popup" class="popup">
    <div class="popup-content">
      <span class="close" data-popup="Lindt-popup">&times;</span>
      <h2>Lindt Home of Chocolate</h2>
      <p>
In an impressive new building designed by star architects Christ & Gantenbein, the Lindt Home of Chocolate welcomes chocolate lovers from all over the world to Kilchberg on Lake Zurich.
<br><br>
An interactive multimedia exhibition guides visitors through seven different chocolate worlds, which appeal to all the senses. From the cultivation of cocoa to the history of chocolate through to tasting the top-quality Swiss chocolate – here you can find out everything you need to know on the subject. In addition, interested visitors can view the latest production and automation technologies at a show production facility.
<br><br>
An exceptional highlight is the largest Lindt Chocolate Shop in the world.
<br><br>
In the ultra-modern Lindt café, guests are treated to delicious homemade waffles and chocolate specialties and have a great view of the spectacular 9-meter (30ft) tall chocolate fountain.
<br><br>
Amidst the unique atmosphere of the Lindt Chocolateria and under the expert guidance of the Lindt Maîtres Chocolatiers, visitors can learn how to handle chocolate and create their own personal chocolate masterpieces. Exclusive chocolate courses for groups of up to 60 persons can also be booked.
      </p>
      <video controls autoplay style="max-width: 60%; width: 800px; margin: 1% 20%; text-align: center;">
        <source src="../img/ld.MOV" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <img style="width: 49.5%; display: inline;" src="../img/ld1.jpeg" alt="Lindt">
      <img style="width: 49.5%; display: inline;" src="../img/ld3.jpeg" alt="Lindt">
      <img src="../img/ld2.jpeg" alt="Lindt">
    </div>
    </div>
  </div>

</div>
<!-- end single item div Lindt-->

<br><br><br>
<!-- comments section -->
<a id="feedback_Area"></a>
<div class="feedback_Area">
  <h1><button onclick="toggleText('expandedText14')" class="feedbackB">Feedback</button></h1>

    <form action="https://formspree.io/f/mknaablk" method="POST">

      Your name: <br>
      <input class="input-name" type="text" name="realname"><br>
      <br>
      
      Your email: <br>
      <input type="email" name="email"><br>
      <br>
      
      Your comments: <br>
      <textarea name="comments" rows="15" cols="50"></textarea><br>
      
      <button class="submit" type="submit">Submit!</button>

      </form>

  </div> 
  <!-- end feedback -->
  <br><br><br><br><br><br>
</section>

  <footer>
    <div class="footer-links">
        <a class="footer-link" href="https://www.instagram.com/quinnuella_" target="_blank">Instagram</a>
        <div style="border-right: 1px solid #fff; height: 20px; margin: 0 25px;"></div>
        <a class="footer-link" href="mailto: mikuquella@gmail.com">Email</a> 
      </div>
        <div class="copyright">Power by: Quella W</div>
   
  </footer>

<script type="text/javascript" src="../scripts/map-zurich.js"></script>

</body>

</html>