<!DOCTYPE html>
<html>
<head>
    <title>Zurich Attriactions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/zurich-attraction.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon-q.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container-head">
    <img class="head-bg" src="../img/IMG_4648.jpeg" alt="zurich lake">

    <div class="top-left">
      <a class="webLink" href="https://qquella.com/"><h2>qquella.com</h2></a>
    </div>

    <div class="top-right">
      <div class="contact-button">
        <span class="contact">Contact</span>
        <div class="contact-dropdown">
            <a href="mailto: mikuquella@gmail.com">Email</a>
            <a href="https://www.instagram.com/quinnuella_">Instagram</a>
        </div>
      </div>
    </div>

    <div class="centered">
      <h1>Top Places to Visite in Zürich🇨🇭</h1>
      <p>Sightseeing in Zurich: Here are the 10 must-sees!</p>
    </div>
</div>


 <!-- share button -->
 <div class="share-print">
  <button class="fa fa-share-alt" id="shareButton"><span>Share</span></button>
    <div id="shareOptions">
      <a href="#" data-option="whatsapp">WhatsApp</a>
      <a href="#" data-option="twitter">Twitter</a>
      <a href="#" data-option="instagram">Instagram</a>
      <a href="#" data-option="mail">Email</a>
      <a href="#" data-option="snapchat">Snapchat</a>
      <a href="#" data-option="pinterest">Pinterest</a>
      <a href="#" data-option="clipboard">Copy to Clipboard</a>
    </div>
    <!-- print button -->
  <button class="fa fa-print" id="printButton"><span>Print</span></button>
</div>

<section class="container">
  <p class="container-p">
    Obviously, there are far more than 10 tourist attractions in Zurich, but this list points out the absolute highlights, nobody should miss. Visit the places in Zurich that tell the exciting history of the city, see the beautiful parks and green spaces in the middle of the Old Town and enjoy the breathtaking views from the numerous overlooks, and you will experience Zurich’s true character and beauty.
  </p>

  <div class="container-items">

    <div class="container-item">
      <div class="container-media">
        <img class="container-img" src="../img/Grossmunster.jpeg" alt="Grossmünster">
      </div>

      <div class="container-text">
        <span class="big_num">1</span>
        <h2 class="big_word">Grossmünster</h2>
       
        <p class="container-text-p">
          The Grossmünster in Zurich is an iconic Romanesque church that graces the city's skyline with its imposing twin towers and copper-crowned spires. With a history intertwined with Zurich's origins, this architectural masterpiece symbolizes the city's spiritual and cultural heritage. Inside, its serene interior is illuminated by gentle light filtering through stained glass windows, creating an atmosphere of contemplation. Ascending the towers rewards visitors with stunning panoramic views of Zurich, the Limmat River, and the Swiss Alps. The Grossmünster is a harmonious blend of history, spirituality, and architectural grandeur, making it a must-visit landmark in this vibrant Swiss city. (Be sure to get up to the top!!)
        </p>

        <a class="container-btn" href="#"><span>More&nbsp;&#8594;</span></a>
      </div>
      <!-- end text div -->
    </div>
    <!-- end single item div -->

    <div class="container-item">
      <div class="container-media">
        <img class="container-img" src="../img/Grossmunster.jpeg" alt="Grossmünster">
      </div>

      <div class="container-text">
        <span class="big_num">1</span>
        <h2 class="big_word">Grossmünster</h2>
       
        <p class="container-text-p">
          The Grossmünster in Zurich is an iconic Romanesque church that graces the city's skyline with its imposing twin towers and copper-crowned spires. With a history intertwined with Zurich's origins, this architectural masterpiece symbolizes the city's spiritual and cultural heritage. Inside, its serene interior is illuminated by gentle light filtering through stained glass windows, creating an atmosphere of contemplation. Ascending the towers rewards visitors with stunning panoramic views of Zurich, the Limmat River, and the Swiss Alps. The Grossmünster is a harmonious blend of history, spirituality, and architectural grandeur, making it a must-visit landmark in this vibrant Swiss city. (Be sure to get up to the top!!)
        </p>

        <a class="container-btn" href="#"><span>More&nbsp;&#8594;</span></a>
      </div>
      <!-- end text div -->
    </div>
    <!-- end single item div -->

    <div class="container-item">
      <div class="container-media">
        <img class="container-img" src="../img/Grossmunster.jpeg" alt="Grossmünster">
      </div>

      <div class="container-text">
        <span class="big_num">1</span>
        <h2 class="big_word">Grossmünster</h2>
       
        <p class="container-text-p">
          The Grossmünster in Zurich is an iconic Romanesque church that graces the city's skyline with its imposing twin towers and copper-crowned spires. With a history intertwined with Zurich's origins, this architectural masterpiece symbolizes the city's spiritual and cultural heritage. Inside, its serene interior is illuminated by gentle light filtering through stained glass windows, creating an atmosphere of contemplation. Ascending the towers rewards visitors with stunning panoramic views of Zurich, the Limmat River, and the Swiss Alps. The Grossmünster is a harmonious blend of history, spirituality, and architectural grandeur, making it a must-visit landmark in this vibrant Swiss city. (Be sure to get up to the top!!)
        </p>

        <a class="container-btn" href="#"><span>More&nbsp;&#8594;</span></a>
      </div>
      <!-- end text div -->
    </div>
    <!-- end single item div -->

    <div class="container-item">
      <div class="container-media">
        <img class="container-img" src="../img/Grossmunster.jpeg" alt="Grossmünster">
      </div>

      <div class="container-text">
        <span class="big_num">1</span>
        <h2 class="big_word">Grossmünster</h2>
       
        <p class="container-text-p">
          The Grossmünster in Zurich is an iconic Romanesque church that graces the city's skyline with its imposing twin towers and copper-crowned spires. With a history intertwined with Zurich's origins, this architectural masterpiece symbolizes the city's spiritual and cultural heritage. Inside, its serene interior is illuminated by gentle light filtering through stained glass windows, creating an atmosphere of contemplation. Ascending the towers rewards visitors with stunning panoramic views of Zurich, the Limmat River, and the Swiss Alps. The Grossmünster is a harmonious blend of history, spirituality, and architectural grandeur, making it a must-visit landmark in this vibrant Swiss city. (Be sure to get up to the top!!)
        </p>

        <a class="container-btn" href="#"><span>More&nbsp;&#8594;</span></a>
      </div>
      <!-- end text div -->
    </div>
    <!-- end single item div -->

    <div class="container-item">
      <div class="container-media">
        <img class="container-img" src="../img/Grossmunster.jpeg" alt="Grossmünster">
      </div>

      <div class="container-text">
        <span class="big_num">1</span>
        <h2 class="big_word">Grossmünster</h2>
       
        <p class="container-text-p">
          The Grossmünster in Zurich is an iconic Romanesque church that graces the city's skyline with its imposing twin towers and copper-crowned spires. With a history intertwined with Zurich's origins, this architectural masterpiece symbolizes the city's spiritual and cultural heritage. Inside, its serene interior is illuminated by gentle light filtering through stained glass windows, creating an atmosphere of contemplation. Ascending the towers rewards visitors with stunning panoramic views of Zurich, the Limmat River, and the Swiss Alps. The Grossmünster is a harmonious blend of history, spirituality, and architectural grandeur, making it a must-visit landmark in this vibrant Swiss city. (Be sure to get up to the top!!)
        </p>

        <a class="container-btn" href="#"><span>More&nbsp;&#8594;</span></a>
      </div>
      <!-- end text div -->
    </div>
    <!-- end single item div -->

    <div class="container-item">
      <div class="container-media">
        <img class="container-img" src="../img/Grossmunster.jpeg" alt="Grossmünster">
      </div>

      <div class="container-text">
        <span class="big_num">1</span>
        <h2 class="big_word">Grossmünster</h2>
       
        <p class="container-text-p">
          The Grossmünster in Zurich is an iconic Romanesque church that graces the city's skyline with its imposing twin towers and copper-crowned spires. With a history intertwined with Zurich's origins, this architectural masterpiece symbolizes the city's spiritual and cultural heritage. Inside, its serene interior is illuminated by gentle light filtering through stained glass windows, creating an atmosphere of contemplation. Ascending the towers rewards visitors with stunning panoramic views of Zurich, the Limmat River, and the Swiss Alps. The Grossmünster is a harmonious blend of history, spirituality, and architectural grandeur, making it a must-visit landmark in this vibrant Swiss city. (Be sure to get up to the top!!)
        </p>

        <a class="container-btn" href="#"><span>More&nbsp;&#8594;</span></a>
      </div>
      <!-- end text div -->
    </div>
    <!-- end single item div -->

    <div class="container-item">
      <div class="container-media">
        <img class="container-img" src="../img/Grossmunster.jpeg" alt="Grossmünster">
      </div>

      <div class="container-text">
        <span class="big_num">1</span>
        <h2 class="big_word">Grossmünster</h2>
       
        <p class="container-text-p">
          The Grossmünster in Zurich is an iconic Romanesque church that graces the city's skyline with its imposing twin towers and copper-crowned spires. With a history intertwined with Zurich's origins, this architectural masterpiece symbolizes the city's spiritual and cultural heritage. Inside, its serene interior is illuminated by gentle light filtering through stained glass windows, creating an atmosphere of contemplation. Ascending the towers rewards visitors with stunning panoramic views of Zurich, the Limmat River, and the Swiss Alps. The Grossmünster is a harmonious blend of history, spirituality, and architectural grandeur, making it a must-visit landmark in this vibrant Swiss city. (Be sure to get up to the top!!)
        </p>

        <a class="container-btn" href="#"><span>More&nbsp;&#8594;</span></a>
      </div>
      <!-- end text div -->
    </div>
    <!-- end single item div -->

    <div class="container-item">
      <div class="container-media">
        <img class="container-img" src="../img/Grossmunster.jpeg" alt="Grossmünster">
      </div>

      <div class="container-text">
        <span class="big_num">1</span>
        <h2 class="big_word">Grossmünster</h2>
       
        <p class="container-text-p">
          The Grossmünster in Zurich is an iconic Romanesque church that graces the city's skyline with its imposing twin towers and copper-crowned spires. With a history intertwined with Zurich's origins, this architectural masterpiece symbolizes the city's spiritual and cultural heritage. Inside, its serene interior is illuminated by gentle light filtering through stained glass windows, creating an atmosphere of contemplation. Ascending the towers rewards visitors with stunning panoramic views of Zurich, the Limmat River, and the Swiss Alps. The Grossmünster is a harmonious blend of history, spirituality, and architectural grandeur, making it a must-visit landmark in this vibrant Swiss city. (Be sure to get up to the top!!)
        </p>

        <a class="container-btn" href="#"><span>More&nbsp;&#8594;</span></a>
      </div>
      <!-- end text div -->
    </div>
    <!-- end single item div -->

    <div class="container-item">
      <div class="container-media">
        <img class="container-img" src="../img/Grossmunster.jpeg" alt="Grossmünster">
      </div>

      <div class="container-text">
        <span class="big_num">1</span>
        <h2 class="big_word">Grossmünster</h2>
       
        <p class="container-text-p">
          The Grossmünster in Zurich is an iconic Romanesque church that graces the city's skyline with its imposing twin towers and copper-crowned spires. With a history intertwined with Zurich's origins, this architectural masterpiece symbolizes the city's spiritual and cultural heritage. Inside, its serene interior is illuminated by gentle light filtering through stained glass windows, creating an atmosphere of contemplation. Ascending the towers rewards visitors with stunning panoramic views of Zurich, the Limmat River, and the Swiss Alps. The Grossmünster is a harmonious blend of history, spirituality, and architectural grandeur, making it a must-visit landmark in this vibrant Swiss city. (Be sure to get up to the top!!)
        </p>

        <a class="container-btn" href="#"><span>More&nbsp;&#8594;</span></a>
      </div>
      <!-- end text div -->
    </div>
    <!-- end single item div -->

    <div class="container-item">
      <div class="container-media">
        <img class="container-img" src="../img/Grossmunster.jpeg" alt="Grossmünster">
      </div>

      <div class="container-text">
        <span class="big_num">1</span>
        <h2 class="big_word">Grossmünster</h2>
       
        <p class="container-text-p">
          The Grossmünster in Zurich is an iconic Romanesque church that graces the city's skyline with its imposing twin towers and copper-crowned spires. With a history intertwined with Zurich's origins, this architectural masterpiece symbolizes the city's spiritual and cultural heritage. Inside, its serene interior is illuminated by gentle light filtering through stained glass windows, creating an atmosphere of contemplation. Ascending the towers rewards visitors with stunning panoramic views of Zurich, the Limmat River, and the Swiss Alps. The Grossmünster is a harmonious blend of history, spirituality, and architectural grandeur, making it a must-visit landmark in this vibrant Swiss city. (Be sure to get up to the top!!)
        </p>

        <a class="container-btn" href="#"><span>More&nbsp;&#8594;</span></a>
      </div>
      <!-- end text div -->
    </div>
    <!-- end single item div -->

  </div>

</section> 
<!-- end container -->

<footer>
  <div class="footer-links">
      <a class="footer-link" href="https://www.instagram.com/quinnuella_" target="_blank">Instagram</a>
      <div style="border-right: 1px solid #fff; height: 20px; margin: 0 25px;"></div>
      <a class="footer-link" href="mailto: mikuquella@gmail.com">Email</a> 
    </div>
      <div class="copyright">Power by: Quella W</div>
 
</footer>

</body>

</html>
