<!DOCTYPE html>
<html>

<head>
  <title>CS2500 Fundamentals of Computer Science I</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../scripts/share.js">
  <link rel="icon" type="image/x-icon" href="../images/favicon-q.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" />
  <link rel="stylesheet" href="../styles/basics.css">

  <!-- share icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- Real Header lol -->

<body>
  <a class="webLink" href="https://qquella.com/">
    <h2 class="weblink">qquella.com</h2>
  </a>
  <br>
  <a class="webLink" href="https://qquella.com/plan-of-study.html">
    <h2 class="weblink">See All Class Notes</h2>
  </a>

  <div class="contact-button">
    <span class="contact">Contact</span>
    <div class="contact-dropdown">
      <a href="mailto: mikuquella@gmail.com">Email</a>
      <a href="#feedback_Area">Feedback</a>
    </div>
  </div>


  <!-- new menu bar -->
  <div class="topbar">
    <div class="ui secondary pointing menu">
      <a href="/" class=" item">Home</a>
      <a href="../plan-of-study.html" class="active item">Notes</a>
      <a href="/UnseriousEssays/essays.html" class=" item">Articles</a>
      <a href="/Games/Spielen.html" class=" item">Games</a>
      <a href="/Travel_ideas/nav-travel.html" class=" item">Travel</a>
    </div>
  </div>

  <div style="margin-top: 20px; margin-bottom: 20px" class="ui text container">


    <div class="contents nonprintable"></div>


    <div class="segment ui text container document">
      <h1 id=""><span class="head-doc">Fundamentals of Computer Science I</span></h1>
      <hr>
      <iframe src="https://drive.google.com/embeddedfolderview?id=1mGz7gc0iHljjmJCQY3TuooJD4b_6IPNL#list"
        style="width:100%; height:600px; border:0;"></iframe>


    </div>



    <footer class="foot">
      <div class="footer-links">
        <a class="footer-link" href="https://www.instagram.com/quinnuella_" target="_blank">Instagram</a>
        <div style="border-right: 1px solid #fff; height: 20px; margin: 0 25px;"></div>
        <a class="footer-link" href="mailto: mikuquella@gmail.com">Email</a>
      </div>
      <div class="copyright">Power by: Quella W</div>

    </footer>




</body>

</html>