<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuickSort Performance(RM)</title>
  <!-- Chart.js library -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../styles/qs-analysis.css">
  <link rel="icon" type="image/x-icon" href="../img/favicon-q.png">
</head>
<body>
<!-- Real Header lol -->
  <a class="webLink" href="https://qquella.com/"><h2>qquella.com</h2></a>
  
  <div class="contact-button">
    <span class="contact">Contact</span>
    <div class="contact-dropdown">
        <a href="mailto: mikuquella@gmail.com">Email</a>
        <a href="#feedback_Area">Feedback</a>
    </div>
  </div>

  <header>
	  <h1>QuickSort Performance (Right Most Pivot)</h1>
  </header>

  <!-- share button -->
<div class="share-print">
  <button class="fa fa-share-alt" id="shareButton"><span>Share</span></button>
    <div id="shareOptions">
      <a href="#" data-option="whatsapp">WhatsApp</a>
      <a href="#" data-option="twitter">Twitter</a>
      <a href="#" data-option="instagram">Instagram</a>
      <a href="#" data-option="mail">Email</a>
      <a href="#" data-option="snapchat">Snapchat</a>
      <a href="#" data-option="pinterest">Pinterest</a>
      <a href="#" data-option="clipboard">Copy to Clipboard</a>
    </div>
    <!-- print button -->
  <button class="fa fa-print" id="printButton"><span>Print</span></button>
</div>

 <div class="button"> <button id="startAnalysis">Start Iterations</button></div>
  <!-- my lovely dynamic table & chart -->
  <div id="table-container"></div>


  <div>
    <canvas id="myChart"></canvas>
  </div>
 

</body>

  <footer>
    <div class="footer-links">
        <a class="footer-link" href="https://www.instagram.com/quinnuella_" target="_blank">Instagram</a>
        <div style="border-right: 1px solid #fff; height: 20px; margin: 0 25px;"></div>
        <a class="footer-link" href="mailto: mikuquella@gmail.com">Email</a> 
      </div>
        <div class="copyright">Power by: Quella W</div>
  </footer>


  <script type="text/javascript" src="../scripts/qs-analysis.js"></script>
  <script type="text/javascript" src="../scripts/share.js"></script>
</html>
