<!DOCTYPE html>
<html>
<head>
	<title>About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles-b/cocoLanding.css">
  <link rel="icon" type="image/x-icon" href="../img/coco-icon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
</head>

<!-- Real Header lol -->
<body>
	<a class="webLink" href="https://qquella.com/"><h2>qquella.com</h2></a>
  
  <div class="contact-button">
    <span class="contact">Tell Us What YOU Think!</span>
    <div class="contact-dropdown">
        <a href="mailto: rathi.adit@northeastern.edu">Email</a>
        <a href="#feedback_Area">Feedback</a>
    </div>
</div>



  <header>
	  <h1>About</h1>
    <p>Find us in W101 from 11:00 to 11:30 on Wednesdays 🐾🐾</p>
  </header>
   
    <!-- Navigation links -->
  <nav>
    <ul class="left-links">
      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSel0bSY8jrOWU0va9V-w-81MfaDLmUxWAQG21ErcQDYUXP4gA/viewform" target="_blank">Sign Up for Candygrams 🎃</a></li>
      <li><a href="https://www.qquella.com/Nebengeschaft/views/halloween.html">Halloween Special 👻</a></li>
    </ul>

    <img class="icon" src="../img/coco-icon.png" alt="icon">

    <ul class="right-links">
      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdPxMK8xSPx4aMNWLAmLUgg1MFOgCDwkNPI5OM2WS0hIU4Slg/viewform">Improve My Experience ✨</a></li>
      <li><a href=".../Nebengeschäft/littleLove.html">Little Love 💙</a></li>
    </ul>
  </nav>

  <!-- text blocks -->
  <div class="text-blocks">
    <div class="text-block text-left">
        <p>About CoCo:</p>
        <p class="inner-text">Hey there! 😊 Meet the NUin Greece Community Council (CoCo) - your go-to squad for all things fun and community! 🎉 We're all about organizing awesome student activities and events that'll make your time in Greece unforgettable. 🇬🇷 Whether it's cultural celebrations, workshops, or cool outings, we've got you covered! Join us, and let's make some epic memories together. 🌟 CoCo: Where the good times roll! 🎈🥳</p>
    </div>
    <div class="text-block">
        <p style="margin: .7em auto;">Σχετικά με την CoCo:</p>
        <p class="inner-text" style="margin-top: 0; line-height: 1.1em;">Το Κοινοτικό Συμβούλιο του NUin Greece (CoCo) είναι ο ζωντανός κόμβος της φοιτητικής δραστηριότητας και του προγραμματισμού στο πλαίσιο του προγράμματος NUin Greece. Το CoCo έχει δεσμευτεί για την ενίσχυση της αίσθησης της κοινότητας και παίζει καθοριστικό ρόλο στην οργάνωση ενός ευρέος φάσματος ελκυστικών εκδηλώσεων, πρωτοβουλιών και δραστηριοτήτων για τους φοιτητές μας. Είτε πρόκειται για πολιτιστικές γιορτές, είτε για εκπαιδευτικά εργαστήρια, είτε για διασκεδαστικές εξορμήσεις που εξερευνούν την πλούσια ελληνική κληρονομιά, η CoCo εξασφαλίζει ότι κάθε συμμετέχων του NUin Greece έχει την ευκαιρία να συνδεθεί, να μάθει και να δημιουργήσει μόνιμες αναμνήσεις κατά τη διάρκεια της παραμονής του στο εξωτερικό. Ελάτε μαζί μας και γίνετε μέρος του ενθουσιασμού - το CoCo είναι το μέρος όπου η κοινότητα ζωντανεύει! 🎈🥳</p>
    </div>
</div>

<br><br>
<!-- comments section -->
<a id="feedback_Area"></a>
<div class="feedback_Area">
  <h1><button onclick="toggleText('expandedText14')" class="feedbackB">Feedback</button></h1>

    <form action="https://formspree.io/f/mknaablk" method="POST">

      Your name: <br>
      <input class="input-name" type="text" name="realname"><br>
      <br>
      
      Your email: <br>
      <input type="email" name="email"><br>
      <br>
      
      Your comments: <br>
      <textarea name="comments" rows="15" cols="50"></textarea><br>
      
      <button class="submit" type="submit">Submit!</button>

      </form>

  </div> 
  <!-- end feedback -->


  <footer>
    <div class="footer-links">
        <a class="footer-link" href="https://www.instagram.com/coco.greece" target="_blank">Instagram</a>
        <div style="border-right: 1px solid #fff; height: 20px; margin: 0 25px;"></div>
        <a class="footer-link" href="mailto: rathi.adit@northeastern.edu">Email</a> 
      </div>
        <div class="copyright">Power by: Quella W</div>
   
</footer>



</body>

</html>
