
body {
  background-color: rgb(252, 202, 209);
  color: rgb(0, 0, 0);
  font-family: Baskerville, Baskerville;
}
header{
  text-align: center;
}
h1 {
  position: relative;
   /* Use a fancy cursive font */
  color: #f6e5eb; /* Set a vibrant color */
  text-shadow: 4px 4px 4px rgba(98, 66, 80, 0.5); /* Add a subtle text shadow */
  letter-spacing: 3px; /* Increase letter spacing */
  text-transform: uppercase; /* Transform text to uppercase */
  padding: 15px; /* Add some padding for space */
  background-color: #fa6b9a;; /* Add a light background color */
  border-radius: 40px; /* Round the corners */
  box-shadow: 0 4px 6px rgba(179, 143, 241, 0.1);
  text-align: center; /* Center align the text */
  display: inline-block;
  border: 5px solid #fedbe9;
}
h2{
  color: #ffffff;
  margin: 0;
}
a{
  color: white;
  text-decoration: none;
  text-shadow: 1px 2px lightcoral;
}

nav ul {
  list-style-type: none;
  max-width: 100%;
  margin: 10px auto;
  padding: 12px;
  text-align: center;
}
nav li {
  display: inline-block;
  margin: 25px 10px;
  font-size: 20px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 18px;
  background-color: #443a41;
  text-shadow: 1px 2px lightcoral;
  border-radius: 15px;
}
a:hover {
  background-color: #6f3444;
}



/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  h1 {
    font-size: 30px; /* Decrease font size for smaller screens */
  }

  nav li {
    margin: 15px 10px; /* Adjust margin for smaller screens */
  }

  nav a {
    padding: 12px; /* Adjust padding for smaller screens */
  }
}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
  h1 {
    font-size: 20px; /* Further decrease font size for very small screens */
  }

  nav li {
    margin: 15px 5px; /* Further adjust margin for very small screens */
  }

  nav a {
    padding: 10px; /* Further adjust padding for very small screens */
  }
}




