
body {
  background-color: rgb(252, 202, 209);
  color: rgb(0, 0, 0);
  font-family: Baskerville, Baskerville;
}
h1 {
  text-align: center;
  font-size: 50px;
}
nav ul {
  list-style-type: none;
  max-width: 1200 px;
  margin: 0, auto;
  padding: 20;
  text-align: center;
}
li {
  display: inline-block;
  margin-right: 30px;
}
a {
  color: white;
  text-decoration: none;
  padding: 20px;
  background-color: #484848;
  border-radius: 5px;
}
a:hover {
  background-color: #666;
}